@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Lato', sans-serif;

}

body {
  color: #051039;
  border-top: 2px #05114C solid;
  border-bottom: 50px #05114C solid;

}

p {
  margin-bottom: 0.7em;
}

a {
  text-decoration: underline;
}

a:hover {
  background:#dbffff
}